
<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <h1>VehicleMakes</h1>
    <button type="button" class="btn btn-primary" routerLink="/vehicleMake/create"> Create new </button>
  </div>
  <div class="col-3"></div>
</div>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Abrv</th>
              <th scope="col">Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let vehicleMake of vehicleMakes">
              <td>{{ vehicleMake.Abrv}}</td>
              <td>{{ vehicleMake.Name }}</td>
              <td>  
                <button type="button" class="btn btn-light" (click)="OnEditClick(vehicleMake.Id)">Edit</button>
                <button type="button" class="btn btn-dark" (click)="OnDeleteClick(vehicleMake.Id)">Delete</button>
              </td>
            </tr>
            
          </tbody>
        </table>
 
  </div>
<div class="col-2"></div>
</div>